services:
  - type: web
    name: alineoa
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: LINE_CHANNEL_ACCESS_TOKEN
        sync: false
